.block
  .content
    .title_action_bar
      %h2 Generate Endcount List
    .inner
      %table
        %tr
          %th Endcount Entry Date
          %th Action
          %th View Directional  
        - @item_count.each do |ic|
          %tr
            %td= ic.entry_date
            %td= link_to 'View Item Counts', endcounts_path(:date => ic.entry_date)
            %td= link_to 'View Directional Reports', directional_path()
