= simple_form_for @settlement_type do |f|
  %fieldset
    - if can?(:index, Branch)
      = f.association :branch, :collection => Branch.accessible_by(current_ability).map{ |branch| [branch.location, branch.id] }
    = f.input :name
  .actions
    = f.button :submit
