.block
  .content
    .inner
      %p
        %b Email:
        = @user.email
      %p
        %b Role:
        = @user.roles.first.name
      - if can? :edit, User
        = link_to 'Edit', edit_user_path(@user)
        |
      \#{link_to 'Back', users_path}
