:ruby
  require 'csv'
  csv_string = CSV.generate do |csv|
    csv << ["Invoice Number", "Purchase Date", "Supplier Name", "Purchase Amount", "Net Amount", "Vat Amount"]
    @purchases.each do |purchase|
      pdate = purchase.purchase_date.strftime("%-d-%b-%Y") if purchase.purchase_date
      csv << [ purchase.invoice_number, pdate, purchase.supplier.name, purchase.amount, purchase.net_amount, purchase.vat_amount ]
    end
  end
  puts csv_string
