= form_tag @search_path, :method => :get do
  .input_group
    = label_tag 'Filter by Branch'
    .input
      = select_tag :restaurant_id, options_from_collection_for_select(Restaurant.accessible_by(current_ability), :id, :name)
    .actions
      = submit_tag :Search, :class => "button"
