.secondary-navigation
  = tabs_tag :builder => MenuTabBuilder do |tab|
    %li= tab.reports 'Endcounts', endcount_reports_path
    %li= tab.purchase_reports 'Purchases', purchase_reports_path
    %li= tab.directional 'Directional', directional_path
