.secondary-navigation
  = tabs_tag :builder => MenuTabBuilder do |tab|
    %li= tab.sale_categories 'Categories', sale_categories_path
    %li= tab.settlement_types 'Settlement Type', settlement_types_path
    %li= tab.servers 'Server', servers_path
