development:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: rrbs_development
  pool: 5
  username: postgres
  password: test123

test:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: rrbs_test
  pool: 5
  username: postgres
  password: test123

production:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: rrbs_production
  pool: 5
  username: postgres
  password: test123
