= simple_form_for @restaurant do |f|
  = f.input :name
  - if can? [:new, :create], Company
    = f.association :company, :prompt => '(select)'
  = f.input :description
  -#= f.input :currency_id
  .actions
    =f.button :submit
