/*
 *= require web-app-theme/base.css
 *= require web-app-theme/themes/activo/style.css
 *= require_self
 */

@mixin border-radius($radius:4px)
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius

#main
  width: 100%

  .block
    .content
      .inner
        padding-bottom: 37px

table
  $checkbox: 10px
  width: 100%
  border-collapse: collapse
  margin-bottom: 15px

  th
    padding: 10px
    font-weight: bold
    text-align: left

    &.checkbox
      width: $checkbox

    .first
      width: 30px

    .last
      width: 200px

  .checkbox
    margin-left: 10px

  td
    padding: 10px

    &.checkbox
      width: $checkbox

    .last
      text-align: right

    &.monetary
      text-align: right

  tr:nth-child(odd)
    background: #e0e0e0

  &.table_form
    width: auto

    tr
      background: none

      td
        padding: 0

form
  $form-left-column: 200px
  $space-between-label-and-field: 10px

  .multi_input
    label
      float: none
    span
      padding-left: 15px

  .colleft
    float: left
    padding: 10px 20px 0 10px
    width: 500px
    clear: both

  .colright
    float: left
    padding: 10px 0 0 10px
    width: 500px

  fieldset
    margin-bottom: 18px
    padding-top: 18px
    border: none

    &.field_divider
      border: solid 1px #909090
      padding: 10px        /* padding in fieldset support spotty in IE */
      margin: 0

    label
      display: inline
      float: left
      &:after
        content: ''

    .radio_group
      margin: -10px 0 -10px 0
      padding-left: $form-left-column

    legend
      color: #404040
      display: block
      font-size: 15.5px
      line-height: 1
      padding-left: $form-left-column

      &.box_name
        background-color: #002134
        color: #fff
        border: solid 2px #e0e0e0
        padding: 5px 10px 5px 10px

  label
    font-size: 14px
    float: left
    color: #404040
    width: $form-left-column - $space-between-label-and-field
    text-align: right
    margin-right: $space-between-label-and-field
    padding-top: 8px
    clear: left

    &.field_with_errors
      border: solid 1px red
      display: inline

      &:after
        content: ''

      label:after
        content: ''

    &:after
      content: ':'

  input, select
    margin: 6px 0
    vertical-align: middle

  input
    width: 270px

    &.button, &[type=submit]
      width: auto

  textarea
    height: 115px

  .description
    margin-left: 5px
    color: #CCC
    font-style: italic

  .group
    margin-bottom: 5px
    clear: both

  .actions
    clear: left
    margin:
      top: 18px
      bottom: 18px
    padding: 0 20px 18px $form-left-column
