-#- content_for :sidebar do
  -#%h3 Filters
  -#= form_tag '/sales/search', :method => :get do
    -#.input
      -#= label_tag 'From'
      -#= text_field_tag :start_date, nil, :class => 'datepicker'
    -#.input
      -#= label_tag 'To'
      -#= text_field_tag :end_date, nil, :class => 'datepicker'
    -#.input
      -#= label_tag :restaurant
      -#= collection_select(:restaurant, :name, Restaurant.all, :id, :name, :prompt => true)
    -#.input
      -#= label_tag :branch
      -#= collection_select(:branch, :location, Branch.all, :id, :location, :prompt => true)
    -#.actions
      -#= submit_tag :Search, :class => 'button'

.block
  = render :partial => 'shared/menu/sale'
  .content
    .title_action_bar
      %h2.title Listing Sales
      .new_actions
        = link_to 'New Sale', new_sale_path, :class => :button
    .inner
      %table
        %tr
          %th Date
          %th.monetary VAT
          %th.monetary Void
          %th.monetary Service Charge
          %th.monetary Total Revenue
          %th.number Customer Count
          %th.number Transaction Count
        - @sales.each do |sale|
          %tr
            %td= sale.date
        %tr.totals
          %td Grand Total
          %td.monetary &nbsp;
          %td.monetary &nbsp;
          %td.monetary &nbsp;
          %td.monetary &nbsp;
          %td.number &nbsp;
          %td.number &nbsp;
